---
layout: default

banner:
  style: 1
  fullscreen: true
  orient: right
  content_align: left
  onload_image: fade-in
  onload_content: fade-right

spotlight_a:
  style: 1
  orient: right
  content_align: left
  onscroll_image: fade-in

spotlight_b:
  style: 1
  orient: left
  content_align: left
  onscroll_image: fade-in

competition:
  style: 1
  orient: left
  content_align: left

gallery:
  style: 2
  size: medium
  lightbox: true
  button_label: 'Ansehen'
  onscroll: fade-in

gallery_images:
- full: images/gallery/fulls/01.jpg
  thumb: images/gallery/thumbs/01.jpg
- full: images/gallery/fulls/02.jpg
  thumb: images/gallery/thumbs/02.jpg
- full: images/gallery/fulls/03.jpg
  thumb: images/gallery/thumbs/03.jpg
- full: images/gallery/fulls/04.jpg
  thumb: images/gallery/thumbs/04.jpg
- full: images/gallery/fulls/05.jpg
  thumb: images/gallery/thumbs/05.jpg

gallery_images_2020:
- thumb: images/gallery/thumbs/wald_2020_winter_1.jpg
  full: images/gallery/fulls/wald_2020_winter_1.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_10.jpg
  full: images/gallery/fulls/wald_2020_winter_10.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_11.jpg
  full: images/gallery/fulls/wald_2020_winter_11.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_2.jpg
  full: images/gallery/fulls/wald_2020_winter_2.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_3.jpg
  full: images/gallery/fulls/wald_2020_winter_3.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_4.jpg
  full: images/gallery/fulls/wald_2020_winter_4.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_5.jpg
  full: images/gallery/fulls/wald_2020_winter_5.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_6.jpg
  full: images/gallery/fulls/wald_2020_winter_6.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_7.jpg
  full: images/gallery/fulls/wald_2020_winter_7.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_8.jpg
  full: images/gallery/fulls/wald_2020_winter_8.jpg
- thumb: images/gallery/thumbs/wald_2020_winter_9.jpg
  full: images/gallery/fulls/wald_2020_winter_9.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_1.jpg
  full: images/gallery/fulls/wald_2020_fall_1.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_10.jpg
  full: images/gallery/fulls/wald_2020_fall_10.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_11.jpg
  full: images/gallery/fulls/wald_2020_fall_11.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_12.jpg
  full: images/gallery/fulls/wald_2020_fall_12.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_13.jpg
  full: images/gallery/fulls/wald_2020_fall_13.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_14.jpg
  full: images/gallery/fulls/wald_2020_fall_14.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_15.jpg
  full: images/gallery/fulls/wald_2020_fall_15.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_2.jpg
  full: images/gallery/fulls/wald_2020_fall_2.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_3.jpg
  full: images/gallery/fulls/wald_2020_fall_3.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_5.jpg
  full: images/gallery/fulls/wald_2020_fall_5.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_6.jpg
  full: images/gallery/fulls/wald_2020_fall_6.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_7.jpg
  full: images/gallery/fulls/wald_2020_fall_7.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_8.jpg
  full: images/gallery/fulls/wald_2020_fall_8.jpg
- thumb: images/gallery/thumbs/wald_2020_fall_9.jpg
  full: images/gallery/fulls/wald_2020_fall_9.jpg
- thumb: images/gallery/thumbs/wald_2020_1.jpg
  full: images/gallery/fulls/wald_2020_1.jpg
- thumb: images/gallery/thumbs/wald_2020_10.jpg
  full: images/gallery/fulls/wald_2020_10.jpg
- thumb: images/gallery/thumbs/wald_2020_11.jpg
  full: images/gallery/fulls/wald_2020_11.jpg
- thumb: images/gallery/thumbs/wald_2020_12.jpg
  full: images/gallery/fulls/wald_2020_12.jpg
- thumb: images/gallery/thumbs/wald_2020_14.jpg
  full: images/gallery/fulls/wald_2020_14.jpg
- thumb: images/gallery/thumbs/wald_2020_15.jpg
  full: images/gallery/fulls/wald_2020_15.jpg
- thumb: images/gallery/thumbs/wald_2020_17.jpg
  full: images/gallery/fulls/wald_2020_17.jpg
- thumb: images/gallery/thumbs/wald_2020_18.jpg
  full: images/gallery/fulls/wald_2020_18.jpg
- thumb: images/gallery/thumbs/wald_2020_2.jpg
  full: images/gallery/fulls/wald_2020_2.jpg
- thumb: images/gallery/thumbs/wald_2020_5.jpg
  full: images/gallery/fulls/wald_2020_5.jpg
- thumb: images/gallery/thumbs/wald_2020_6.jpg
  full: images/gallery/fulls/wald_2020_6.jpg
- thumb: images/gallery/thumbs/wald_2020_8.jpg
  full: images/gallery/fulls/wald_2020_8.jpg
- thumb: images/gallery/thumbs/wald_2020_9.jpg
  full: images/gallery/fulls/wald_2020_9.jpg

gallery_images_2021:
- thumb: images/gallery/thumbs/wald_2021_winter_1.jpg
  full: images/gallery/fulls/wald_2021_winter_1.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_2.jpg
  full: images/gallery/fulls/wald_2021_winter_2.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_3.jpg
  full: images/gallery/fulls/wald_2021_winter_3.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_4.jpg
  full: images/gallery/fulls/wald_2021_winter_4.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_5.jpg
  full: images/gallery/fulls/wald_2021_winter_5.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_6.jpg
  full: images/gallery/fulls/wald_2021_winter_6.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_7.jpg
  full: images/gallery/fulls/wald_2021_winter_7.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_8.jpg
  full: images/gallery/fulls/wald_2021_winter_8.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_9.jpg
  full: images/gallery/fulls/wald_2021_winter_9.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_10.jpg
  full: images/gallery/fulls/wald_2021_winter_10.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_11.jpg
  full: images/gallery/fulls/wald_2021_winter_11.jpg
- thumb: images/gallery/thumbs/wald_2021_winter_12.jpg
  full: images/gallery/fulls/wald_2021_winter_12.jpg

gallery_summer_2021:
- thumb: images/gallery/thumbs/wald_2021_summer_1.jpg
  full: images/gallery/fulls/wald_2021_summer_1.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_2.jpg
  full: images/gallery/fulls/wald_2021_summer_2.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_3.jpg
  full: images/gallery/fulls/wald_2021_summer_3.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_4.jpg
  full: images/gallery/fulls/wald_2021_summer_4.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_5.jpg
  full: images/gallery/fulls/wald_2021_summer_5.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_6.jpg
  full: images/gallery/fulls/wald_2021_summer_6.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_7.jpg
  full: images/gallery/fulls/wald_2021_summer_7.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_8.jpg
  full: images/gallery/fulls/wald_2021_summer_8.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_9.jpg
  full: images/gallery/fulls/wald_2021_summer_9.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_10.jpg
  full: images/gallery/fulls/wald_2021_summer_10.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_11.jpg
  full: images/gallery/fulls/wald_2021_summer_11.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_12.jpg
  full: images/gallery/fulls/wald_2021_summer_12.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_13.jpg
  full: images/gallery/fulls/wald_2021_summer_13.jpg
- thumb: images/gallery/thumbs/wald_2021_summer_14.jpg
  full: images/gallery/fulls/wald_2021_summer_14.jpg

items:
  style: 1
  size: big
---
<!-- Banner -->
  {% capture content %}
    <h1>Waldloading</h1>
    <p class="major">In den letzten Jahren wurden auf Grund des Borkenkäfers unzählige Bäume in der Koglerau vernichtet und was dieser Schädling nicht schaffte wurde durch Wind und Schneedruck dem Erdboden gleichgemacht. Derzeit sind trotz intensiver Aufforstungsbemühungen vieler Waldbesitzer viele Waldflächen nicht mehr vorhanden und ein Naherholungsgebiet wurde für viele Jahre zerstört.</p>
    <p class="major">Im Herbst 2019 haben die Firmen <a href="http://may-it.net">May-It</a>, <a href="https://www.mayrhofer.at">Mayrhofer</a> und <a href="https://www.it-audits.at/">Iktus IT-Audits</a> beschlossen, das Geld für Weihnachtsgeschenke dem Wald spenden.</p>
  {% endcapture %}
  {% include components/banner.html
    settings=page.banner
    content=content
    image="images/teaser_2.jpg"
    image-position="left"
  %}

  <section class="wrapper style1 align-center">
    <div class="inner">
      <img class="competition-banner" src="assets/guute_baeume.png" style="width: 100%; max-width: 400px; margin-bottom: 40px; cursor: pointer;"/>
      <p class="major">Wir sind Initiatoren von GUUTE-Bäume.</p>
    </div>
  </section>


<section class="wrapper style1 align-center">
  <div class="inner">
    <img class="competition-banner" src="assets/competition-banner.png" style="width: 100%; margin-bottom: 40px; cursor: pointer;"/>
    <p class="major">Die Gewinner*innen wurden bereits ermittelt.</p>
    <p>Der Spaziergang für die Gewinner des Aufsatz- und Malwettbewerbes muss derzeit wegen Corona leider verschoben werden.</p>
  </div>
</section>

<!-- Quote -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h3>Mit dieser Maßnahme möchten wir der Natur etwas schenken und damit für uns und unsere Kinder ein einen schönen Mischwald schaffen, der zu Wanderungen und zur Erholung einlädt.</h3>
    <h4>Gaby Mayrhofer</h4>
  </div>
</section>

<!-- Images -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Fotos Sommer 2021</h2>
  </div>
  {% include components/gallery.html
    settings=page.gallery
    images=page.gallery_summer_2021
  %}
</section>


<!-- Images -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Fotos Frühling 2021</h2>
  </div>
  {% include components/gallery.html
    settings=page.gallery
    images=page.gallery_images_2021
  %}
</section>

<!-- Images -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Fotos 2020 - 5000 Bäume wurden gepflanzt</h2>
  </div>
  {% include components/gallery.html
    settings=page.gallery
    images=page.gallery_images_2020
  %}
</section>


<!-- Images -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Fotos Oktober 2019</h2>
  </div>
  {% include components/gallery.html
    settings=page.gallery
    images=page.gallery_images
  %}
</section>




<!-- About -->
{% capture content %}
  <h2>Das Projekt</h2>
  <p>Am 14. November wurde der erste Baum gemeinsam mit der Waldbesitzerin Frau Kepplinger gepflanzt.</p>
  <p>Am 3. April 2020 wollten wir gemeinsam mit Kunden, Geschäftspartner, Freunden Bekannten und Gästen 5000 Setzlinge pflanzen. Jedoch kam alles anders und zur Vermeidung der Ausbreitung des Corona-Virus haben wir die Veranstaltung abgesagt.</p>
  <p>Trotzdem wurden an diesem Tag mit Frau Kepplinger 150 Bäume gesetzt.</p>
  <p>Die gepflanzten Douglasien sollen für alle ein Zeichen für die nach der Krise erstarkende und wachsende Wirtschaft sein. Wir wünschen allen, dass die Bäume so gut wachsen wie unsere Wirtschaft.</p>
  <p>Die restlichen Bäume werden wir im Herbst pflanzen, da auf Grund der derzeit herrschenden Trockenheit abgeraten wurde, die Setzlinge jetzt einzusetzen.</p>
  <p>Da wir uns schon so auf unser Event am 3. April gefreut haben, werden wir stattdessen im nächsten Jahr den ersten Geburtstag des Waldes gemeinsam feiern. Nähere Infos folgen noch.</p>

  <ul class="actions stacked">
    <li><a href="https://www.nachrichten.at/oberoesterreich/baeume-statt-billets-linzer-edv-firma-forstet-auf;art4,3245180" target="_blank" class="button">Bericht auf nachtichten.at</a></li>
  </ul>
{% endcapture %}
{% include components/spotlight.html
  settings=page.spotlight_a
  content=content
  image="images/project.jpg"
  image-position="center"
%}


<!-- Companies -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Ein Projekt von</h2>

    {% assign content = "" | split: "" %}
    {% capture x %}
      <a href="https://www.it-audits.at/">
        <img src="/assets/logos/iktus-logo.png" style="width: 100%; max-width: 200px;"/>
      </a>
    {% endcapture %}
    {% assign content = content | push: x %}

    {% capture x %}
      <a href="https://www.mayrhofer.at/">
        <img src="/assets/logos/mayrhofer-logo.png" style="width: 100%; max-width: 180px;" />
      </a>
    {% endcapture %}
    {% assign content = content | push: x %}

    {% capture x %}
      <a href="https://www.may-it.at/">
        <img src="/assets/logos/may-it-logo.svg" style="width: 100%; max-width: 200px;" />
      </a>
    {% endcapture %}
    {% assign content = content | push: x %}

    {% include components/items.html
      settings=page.items
      items=content
    %}
  </div>
</section>

<!-- Special Thanks -->
{% capture content %}
  <h2>Besonderer Dank</h2>
  <p>So eine Aufforstung funktioniert nur, wenn viele Leute gemeinsam etwas bewegen. Bei folgenden Personen, die uns bei diesem Projekt geholfen haben, möchten wir uns daher herzlich bedanken:</p>
  <p>Herr DI Reh von der Landwirtschaftskammer hat uns bei der Auswahl der Bäume, die für diese Region geeignet sind unterstützt.</p>
  <p>Danke auch an Herrn Stefan Bauchinger (<a target="_blank"href="http://www.blumen-bauchinger.at">www.blumen-bauchinger.at</a>) der die ausgewählten Pflanzen bei örtlichen Baumbetrieben bestellt hat. </p>
  <p>An dieser Stelle auch Danke an Sarah Seidl (<a target="_blank"href="http://www.designladen.at">www.designladen.at</a>) für die Entwürfe, Herrn Roland Hofer (<a target="_blank"href="http://www.hoferfilm.at">www.hoferfilm.at</a>) für die tollen Fotos und Herrn Robert Wischnitzki (<a target="_blank"href="http://www.guerilla-stratege.at">http://www.guerilla-stratege.at</a>) für die Organisation des geplanten Events sowie an alle Firmen, die für das leibliche Wohl am 3. April 2020 gesorgt hätten.</p>
{% endcapture %}
{% include components/spotlight.html
  settings=page.spotlight_b
  content=content
  image="images/teaser.jpg"
  image-position="top"
  id="first"
%}


<!-- About Koglerau -->
{% capture content %}
  <h2>Über die Koglerau</h2>
  <p>Die Koglerau ist ein Naherholungsgebiet und liegt zwischen der Gemeindegrenze von Puchenau und Gramastetten.
    Zahlreiche Wanderwege führen von Ottensheim, Gramasteten, Lichtenberg, Pöstlingberg, Puchenau und dem Donausteig zur Koglerau.</p>
  <ul class="actions stacked">
    <li><a href="https://goo.gl/maps/HnPG1ktzxaumxCH49" target="_blank" class="button">Region auf Google Maps</a></li>
  </ul>
{% endcapture %}
{% include components/spotlight.html
  settings=page.spotlight_a
  content=content
  image="images/map.png"
  image-position="top"
  id="first"
%}
