{% comment %}

	Story by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Spotlight

	Description:

		Generates a spotlight.

	Parameters:

		settings
			Settings array (see below).

		content
			Content to display.

		image
			Image to display.

		image-position
			Position of displayed image (center, left, top left, top, top right, right, bottom right, bottom, bottom left).

		id
			Optional value to use as "id" attribute.

	Settings:

		style
			Style of spotlight. Can be any of the following:

			1 = A 30/70 (or 70/30, depending on orientation) vertical split between content and an image.
			2 = An image within a circular frame placed to the side of content.
			3 = An image within a phone-shaped frame placed to the side of content.
			4 = Boxed-in content set against an image background, and attached to either side of the screen or centered.
			5 = Boxed-in content set against an image background.

		orient
			Orientation (left, center, right).

		content_align
			Content alignment (left, center, right).

		onload_image
			Page load image effect (fade-up, fade-down, fade-left, fade-right, fade-in).

		onload_content
			Page load content effect (fade-up, fade-down, fade-left, fade-right, fade-in).

		onscroll_image
			Page scroll image effect (fade-up, fade-down, fade-left, fade-right, fade-in).

		onscroll_content
			Page scroll content effect (fade-up, fade-down, fade-left, fade-right, fade-in).

		invert
			If true, inverts the color palette from dark-on-light to light-on-dark.

		color
			Sets the background color (1-7).

	Example:

		---
		spotlight_settings:
		  style: 1
		  orient: right
		  content_align: left
		  onscroll_image: fade-in
		---

		{% capture spotlight_content %}
			<h2>Spotlight</h2>
			<p>This is my spotlight content.</p>
		{% endcapture %}
		{% include components/spotlight.html settings=spotlight_settings content=spotlight_content image="images/spotlight.jpg" image-position="center" %}

{% endcomment %}

<!-- Spotlight -->

	{% if include.id %}
		{% assign attr_id = 'id="' | append: include.id | append: '"' %}
	{% else %}
		{% assign attr_id = '' %}
	{% endif %}

	{% assign classes = '' %}
	{% if include.settings.invert == true %}
		{% assign classes = classes | append: ' invert' %}
	{% endif %}

	<section class="spotlight style{{ include.settings.style | default: '1' }} orient-{{ include.settings.orient | default: 'left' }} content-align-{{ include.settings.content_align | default: 'left' }} image-position-{{ include.image_position | default: 'center' }} onload-image-{{ include.settings.onload_image | default: 'none' }} onload-content-{{ include.settings.onload_content | default: 'none' }}  onscroll-image-{{ include.settings.onscroll_image | default: 'none' }} onscroll-content-{{ include.settings.onscroll_content | default: 'none' }} {{ classes }} color{{ include.settings.color | default: '0' }}" {{ attr_id }}>
		<div class="content">
			{{ include.content }}
		</div>
		<div class="image">
			<img src="{{ include.image }}" alt="" />
		</div>
	</section>